@charset "ISO-8859-1";

body{
   /*  background-color: #808080; */
	background-image: url("font.jpg");
  background-size: cover;
  background-repeat: no-repeat;
	 font-family: 'Take Coffee', cursive;
	 color: #ffffff;
}
h1{
font-family: Arial Black; 
font-weight: bold; 
font-size: 40px; 
color: #ffffff;
text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}
form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
  width: 400px; /* Ancho del box */
  margin: 0 auto; /* Centrar el box horizontalmente */
}

label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"] {
    background-color: transparent;
   border: 1px solid black;
    outline: none;
}
input[type="text"] {
    background-color: transparent;
   border: 1px solid black;
    outline: none;
}
textarea {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #888888;
}

input[type="button"] {
  background-color: #072e4e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
p{
	font-family: Arial Black; 
font-weight: bold; 
font-size: 20px; 
color: #000000;
}

